services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    networks:
      - appnet

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    networks:
      - appnet
    depends_on:
      - backend

networks:
  appnet: