# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Local development artifacts
*.db-journal
*.sqlite3
*.log

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml